<h1>Our Products</h1> 
{{#if user}}
<a href="/products/add"> Add a New product</a>{{/if}}
<table class="table table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Department</th>
        {{#if user}}
        <th>Actions</th>
        {{/if}}
    </tr>
    {{#if user}} 
    {{#each products}}
    <tr>
        <td> {{this.name}} </td>
        <td> {{this.quantity}} </td>
        <td> {{this.department}} </td>
        <td>
            <a href="/products/edit/{{ this._id }}"> Edit </a>
            <a href="/products/delete/{{ this._id }}" class="test-danger delete"> Delete </a>
        </td>      
    </tr>
    {{/each}}
    {{else}}
    {{#each products}}
    <tr>
        <td> {{this.name}} </td>
        <td> {{this.quantity}} </td>
        <td> {{this.department}} </td>
    </tr>
    {{/each}}
    {{/if}}  
    

</table>
