<h1>Our Products</h1> 

<a href="/products/add"> Add a New product</a>
<table class="table table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Department</th>
        <th>Actions</th>
    </tr>

    {{#each products}}
    <tr>
        <td> {{this.name}} </td>
        <td> {{this.quantity}} </td>
        <td> {{this.department}} </td>  
        <td>
            <a href="/tasks/edit/{{ this._id }}"> Edit </a>|
            <a href="/products/delete/{{ this._id }}" class="test-danger delete"> Delete </a>
        </td> 
    </tr>
    {{/each}}

</table>
